@import "tailwindcss";

@font-face {
    font-family: 'Lato;';
    src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Doto Rounded ExtraBold;';
    src: url('./fonts/Doto/Doto_Rounded-ExtraBold.ttf') format('truetype');
}

* {
    font-family: 'Lato', sans-serif;
}

.lemmshit {
    font-family: 'Doto Rounded ExtraBold';
    font-weight: 900;
}