---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lemm</title>
	</head>
	<body class="h-screen flex items-center justify-center content-center text-9xl bg-gray-100">
		<h1>Hi,<br> I'm <span class="lemmshit text-transparent text-shadow-gray-100 bg-clip-text bg-gradient-to-br from-blue-500 to-violet-500 text-shadow-lg/30" id="lemm">lemm.</span></h1>
	</body>
	<script src="../scripts/index.js"></script>
</html>
